body {
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}

.system-info {
    margin: 40px;
    padding: 8px;
}

.system-info hr {
    border: 0;
    border-bottom: 1px solid #eee;
}