html {
	font-size: 16px;
}

body {
	font-size: 0.875rem;
	font-family: helvetica, arial, sans-serif;
	margin: 0;
}

body > header {
	font-size: 3rem;
	margin: 24px;
	padding: 8px;
	text-align: center;
}

section {
	margin: 40px;
	padding: 8px;
}

.error-reason p {
	font-size: 1.125rem;
}

.error-reason .reference {
	font-size: 1rem;
	font-style: italic;
	color: #666;
}

.error-details ul {
	font-family: "Fira Code", monospace;
	background: #333;
	color: #CCC;
	list-style: none;
	margin: 0;
	padding: 16px;
	line-height: 1.625;
	border-radius: 2px;
	overflow-x: auto;
}

.error-details li {
	margin: 0;
	white-space: nowrap;
}

.trace-source-location {
	color: #CCC;
}

.trace-source-symbol {
	color: hsl(200, 90%, 70%);
	font-family: "Fira Code", monospace;
}

.trace-function {
	color: hsl(200, 90%, 80%);
}

h1, h2 {
	font-size: 1.5rem;
	font-weight: 100;
	color: #666;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}


.request-details table {
	min-width: 100%;
}

.request-details th:first-child {
	padding-right: 8px;
	text-align: right;
	font-weight: 100;
	font-size: 0.875rem;
	color: #666;
	white-space: nowrap;
}

.request-details td {
	width: 100%;
}

.request-detals th, .request-details td {
	padding: 4px;
}
